extends ../layout

block content

  a(href="/slips/new") new slip

  h1 
    a(href="/slips") Slips

  if (slips)
    ul
      for slip in slips
        a(href="/slips/" + slip._id) 
          li= slip
