extends ../layout

block content
  h1 
    a(href="/slips") Slips

if (slip) 
  p #{slip}

  a(href="/slips/edit/" + slip._id) edit
  form(method="Post" action="/slips/delete/" + slip._id) 
    button(type="submit") delete

  
