extends layout 
block content
  .index
    h1 Welcome to Tstory
    h4 Track and show off the history of your hard work

    form(method="GET" action="users/new")
      input(type="submit" value="sign up") 

    h4
      a(href="users/login") login
