doctype html
html
  head
    title node Toy App
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    if(successMessage)
      .flash-message 
        p.success-message= successMessage

    if(errorMessage)
      .flash-message 
        p.error-message= errorMessage

    if(infoMessage)
      .flash-message 
        p.info-message= infoMessage

    block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/javascripts/common.js")

