/* ************************************************** */
/* main */
/* ************************************************** */

* {padding: 0; margin: 0;}

nav {
  background: #7bc7ff;
  padding: 10px;
  color: #fff;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #666;
}
main {
  margin: 50px;
}
a, h1, h2, h3, h4, p {
  padding: 4px;
}
a {
  color: #7bc7ff;
  text-decoration: none;
}
.icons {
  display: inline-block;
}
.icons span.edit, 
.icons span.trash {
  display: inline-block;
  background: url('/images/icons.png');
  background-size: 500px;
  height: 20px;
  width: 20px;;
  cursor: pointer;
  margin-left: 10px;
  vertical-align: 8px;
  filter: brightness(140%);
}
.icon-wrapper span.edit {
  background-position: -109px 208px;
}
.icon-wrapper span.trash {
  background-position: -294px 98px;
}
.icon-wrapper {
  width: 180px;
  display: inline-block;
  font-size: 12px;
}
.icon-wrapper .info {
  display: inline-block;
}
.form-wrapper {
  width: 320px;
  margin: auto;
}
.form-wrapper h1,
.form-wrapper h2 {
  margin-bottom: 30px;
}
.flash-message {
  position: relative;
  cursor: pointer;
}
.form-wrapper a {
  display: inline-block;
  padding: 10px 0 0 20px;
}
.flash-message::after {
  position: absolute;
  content: 'x';
  top: -2px;
  right: 6px;
  font-size: 20px;
  color: #aaa;
}

.success-message, .error-message, .info-message {
  padding: 5px;
  border-radius: 4px;
}

.success-message {
  background-color: #DFF2BF;
}

.error-message {
  background-color: #FFBABA;
}

.info-message {
  background-color: #BDE5F8;
}

input, textarea {
  display: block;
  margin: 10px 0;
  padding: 4px 6px;
  border-radius: 3px;
  border: 1px solid #aaa;
  font-size: 16px;
  width: 280px;
  box-sizing: border-box;
}
input[type="submit"] {
  border-radius: 6px;
  border: 2px solid #7bc7ff;
  background: #fff;
  color: #7bc7ff;
  cursor: pointer;
  margin-top: 30px;
}
textarea {
  height: 60px;
}
input#url, textarea {
  font-size: 12px;
  padding: 6px;
}
input::placeholder {
  color: #bbb;
}

/* ************************************************** */
/* nav */
/* ************************************************** */

nav a {
  color: #fff;
  text-decoration: none;
}
nav h1 {
  display: inline-block;
}
nav h4 {
  display: inline-block;
  float: right;
  text-transform: lowercase;
  padding-left: 14px;
}

/* ************************************************** */
/* index page */
/* ************************************************** */

.index {
  width: 50%;
  margin: 10% auto 0 auto;
  text-align: center; 
}
.index h1, .index h4, .index input[type="submit"] {
  padding: 10px;
}
.index input[type="submit"] {
  width: 60%;
  margin: 0 auto;
}
/* ************************************************** */
/* user show page */
/* ************************************************** */
.show-page .tabs {
  display: inline-block;
  vertical-align: 10px;
}
.show-page .slip-wrapper {
  border-top: 6px solid #eee;
  padding: 10px 0;
}
.show-page a {
  display: block;
  padding: 6px 0;
}
.show-page p {
  color: #555;
  margin: 3px 0;
}
.show-page p.tab {
  padding: 5px 5px 5px 8px;
  margin-right: 14px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: inline-block;
}
.show-page .language, 
.show-page .sub-languages,
.show-page .study-type {
  border-left: 4px solid #888;
}
.show-page .language {
  background-color: #c7ff7b;
}
.show-page .sub-languages {
  background-color: #7bc7ff;
}
.show-page .study-type {
  background-color: #ff7bc7;
}
.show-page h1 {
  display: inline-block;
}
.show-page a {
  display: inline-block;
}
.show-page #new-slip {
  border: 2px solid #3eff2f;
  color: #3eff2f;
  padding: 4px 8px;
  border-radius: 6px;
  margin-left: 16px;
  vertical-align: 5px;
}

/* ************************************************** */
/* user edit page */
/* ************************************************** */

.user-edit h2 {
  display: inline-block; 
  padding-bottom: 20px;
}
.user-edit form {
  display: inline-block; 
}
.user-edit button[type="submit"] {
  color: #ff7b85;
  border: 2px solid #ff7b85;
  border-radius: 6px;
  background: #fff;
  padding: 4px;
  margin-left: 10px;
  vertical-align: 6px;
  cursor: pointer;
}
