/* ************************************************** */
/* main */
/* ************************************************** */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #666;
}
a {
  color: #7bc7ff;
}

.flash-message {
  position: relative;
  cursor: pointer;
}

.flash-message::after {
  position: absolute;
  content: 'x';
  top: -2px;
  right: 6px;
  font-size: 20px;
  color: #aaa;
}

.success-message, .error-message, .info-message {
  padding: 5px;
  border-radius: 4px;
}

.success-message {
  background-color: #DFF2BF;
}

.error-message {
  background-color: #FFBABA;
}

.info-message {
  background-color: #BDE5F8;
}

input, textarea {
  display: block;
  margin: 10px 0;
  padding: 4px 6px;
  border-radius: 3px;
  border: 1px solid #aaa;
  font-size: 16px;
  width: 280px;
  box-sizing: border-box;
}
input[type="submit"] {
  border-radius: 6px;
  border: 2px solid #7bc7ff;
  background: #fff;
  color: #7bc7ff;
  cursor: pointer;
}
textarea {
  height: 60px;
}
input#url, textarea {
  font-size: 12px;
  padding: 6px;
}
input::placeholder {
  color: #bbb;
}
/* ************************************************** */
/* index page */
/* ************************************************** */

.index {
  width: 50%;
  margin: 10% auto 0 auto;
  text-align: center; 
}
.index h1, .index h4, .index input[type="submit"] {
  padding: 10px;
}
.index input[type="submit"] {
  width: 60%;
  margin: 0 auto;
}
/* ************************************************** */
/* user show page */
/* ************************************************** */

/* #fff57b /1* yellow *1/ */
/* #7bc7ff /1* blue *1/ */
/* #ff7b85 /1* crimson *1/ */
/* #c7ff7b /1* green *1/ */
/* #ff7bc7 /1* pink *1/ */

/* #ffef2f /1* yellow strong *1/ */
/* #2fa7ff /1* blue strong *1/ */
/* #ff2f3f /1* crimson strong *1/ */
/* #a7ff2f /1* green strong *1/ */
/* #ff2fa7 /1* pink strong *1/ */
.show-page .time {
  width: 180px;
  display: inline-block;
  font-size: 12px;
}
.show-page .tabs {
  display: inline-block;
  vertical-align: 10px;
}
.show-page .slip-wrapper {
  border-top: 6px solid #eee;
  padding-top: 6px;
}
.show-page a {
  display: block;
  padding-top: 10px;
}
.show-page p {
  color: #555;
  margin: 3px 0;
}
.show-page p.tab {
  padding: 5px 5px 5px 8px;
  margin-right: 14px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: inline-block;
}
.show-page .language, 
.show-page .sub-languages,
.show-page .study-type {
  border-left: 4px solid #888;
}
.show-page .language {
  background-color: #c7ff7b;
}
.show-page .sub-languages {
  background-color: #7bc7ff;
}
.show-page .study-type {
  background-color: #ff7bc7;
}




