extends ../layout

block content
  h1 
    a(href="/users") Users

  form(method='POST', action='/users/' + user._id)
    label(for='email') Email
    input(type='email', name='email' value=user.email)
    label(for='password') Password
    input(type='password' password='password' value=user.password)
    input(type='submit')

