extends ../layout

block content
  h1 
    a(href="/users") Users

  form(method='POST', action='/users/' + user._id)
    label(for='email') Email
    input(type='email', name='email' value=user.email)
    input(type='submit')

  a(href="/users/update_password") update password

