extends ../layout

block content
  h1 
    a(href="/users") Users

  form(method='POST', action='/users/' + user._id)
    label(for='email') Email
    input(type='email', name='email' value=user.email)
    label(for='new_password') New password
    input(type='password' name='new_password')
    input(type='submit')

