extends ../layout

block content
  .user-edit
    .form-wrapper
      if(login)
        h2 Edit : #{user.email}
          form(method="Post" action="/users/delete/" + user._id) 
            button(type="submit") delete

      if(login)
        form(method='POST', action='/users/' + user._id)
          label(for='email') Email
          input(type='email', name='email' value=user.email)
          input(type='submit')

      a(href="/users/update_password") update password

