extends ../layout

block content
  h1 
    a(href="/users") Users

  h1= user

  - if (users) {
  ul
    for user in users
      a(href="/users/" + user._id) 
        li= user
  - }

  a(href="/users/new") new user


