extends ../layout

block content

  .form-wrapper
    h1 Sign up

    form#user-new(method='POST', action='/users/new')
      label(for='email') Email
      input#email(type='email', name='email')
      label(for='password') Password
      input#password(type='password', name='password')
      input(type='submit')

      a(href="login") login
