extends ../layout

block content
  h1 
    a(href="/users") Users

  form(method='POST', action='/users/update_password')
    input(type='hidden', name='email' value=user.email)
    label(for='password') New Password
    input(type='password', name='password')
    input(type='submit')


